body{
    width: 1440px;
    margin: 0 auto;
  }
  @media screen and (max-width: 376px){
    body{
      width: 340px;
      margin: 0 auto;
    }
  }
  
  card{
     display: flex; 
  }
  @media screen and (max-width: 376px){
    card{
      display: block;
    }
  }
  car1{
    width: 720px; 
  }
  car2{
    width: 720px;
  }
  car2-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEDED
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  .p-1{
    width: 380px;
    line-height: 36px;
  }
  @media screen and (max-width: 376px){
    .p-1{
      width: 300px;
    }
  }
  hr.style-one {
      border: 0;
      height: 0; /* Firefox... */
      box-shadow: 0 0 10px 1px black;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 500px;
  }
  hr.style-one:after {  /* Not really supposed to work, but does */
      content: "\00a0";  /* Prevent margin collapse */
  }
  .but{
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #ABFFAB;
  }
  @media screen and (max-width: 376px){
    hr.style-one{
      width: 300px;
    }
  }